.git
.github
.venv
.ruff_cache
.pytest_cache
.env
.dvc/cache
.dvc/tmp
.dvc/config.local
data/train
data/validation
data/batch
artifacts
logs
outputs
lightning_logs
plots
mlflow.db
TODO.txt
children_drawings/playgr.ipynb
__pycache__
*.pyc
